.nav-link {
    position: relative;
    padding-bottom: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    transition: color 0.3s;
}

.nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #3b82f6; /* blue-500 */
    transition: width 0.3s ease-in-out;
}

.nav-link:hover::after,
.nav-link:focus::after {
    width: 100%;
}

.mobile-nav-link {
    @apply text-gray-800 font-semibold text-lg py-2;
}
